@page "/";

@inject ColdShineSoft.Services.BasicChatService ChatService;

<PageTitle>基本对话</PageTitle>

<div class="d-flex flex-column" style="height:100%">
	<MessageList Messages="@ChatService.Messages" />
	<EditForm Model="@ChatService.EditingMessage" Class="d-flex mb-2" OnValidSubmit="Send">
		<DataAnnotationsValidator/>
		<MudTextField @bind-Value="ChatService.EditingMessage.Content" Class="flex-1" For="@(()=>ChatService.EditingMessage.Content)"></MudTextField>
		<MudIconButton ButtonType="ButtonType.Submit" Color="Color.Primary" Icon="@Icons.Material.Filled.Send" />
	</EditForm>
</div>

@code
{
	public async Task<object> Send()
	{
		return await this.ChatService.Send();
	}
}