@page "/Models";

@inject ColdShineSoft.Services.ModelsService ChatService;

<PageTitle>Models</PageTitle>

<MasterPage>
	<Body>
		<MudList Style="display:block;height:100%;overflow:auto">
			<MudListSubheader>All Models</MudListSubheader>
			@if(this.ChatModels==null)
			{
				<MudProgressCircular Size="Size.Large" Indeterminate="true" />
			}
			else foreach(string model in this.ChatModels)
			{
				<MudListItem>@model</MudListItem>
			}
		</MudList>
	</Body>
</MasterPage>

@code
{
	string[]? ChatModels;

	protected override async Task OnInitializedAsync()
	{
		if (this.ChatModels == null)
		{
			this.ChatModels = await this.ChatService.ListAllModels();
			this.StateHasChanged();
		}
		await base.OnInitializedAsync();
	}
}