@inherits LayoutComponentBase;

@inject IHttpContextAccessor HttpContextAccessor;

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>BlazorChatGPTClient</PageTitle>

<MudLayout Style="height:100%">
	<div style="position:absolute"><MudButton OnClick="StateHasChanged">Test</MudButton></div>
	@if(this.HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated==true)
		@Body
	else
	{
		<LoginPage Logined="StateHasChanged" />
	}
</MudLayout>


@code {
}